name: test and coverage

on: [push]

jobs:
    buildAndTest:
        name: Run Unit Tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14

            - name: Install Dependencies
              run: yarn install

            - name: Unit Test
              run: |
                  yarn lint
                  yarn test:unit
              env:
                  COINMARKETCAP_API_KEY: ${{ secrets.COINMARKETCAP_API_KEY }}
                  ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
                  INFURA_ID: ${{ secrets.INFURA_ID }}
                  MNEMONIC_TEST: ${{ secrets.MNEMONIC_TEST }}
    runCoverage:
        name: Run Coverage
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14

            - name: Install Dependencies
              run: yarn install

            - name: Run coverage
              run: |
                  yarn coverage
                  yarn codecov
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
                  ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
                  INFURA_ID: ${{ secrets.INFURA_ID }}
                  MNEMONIC_TEST: ${{ secrets.MNEMONIC_TEST }}
                  TENDERLY_ACCESS_KEY: ${{ secrets.TENDERLY_ACCESS_KEY }}
                  TENDERLY_USER: ${{ secrets.TENDERLY_USER }}
                  TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}
